<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand"> 
        <h1 class="title is-1">&nbsp;La filmothèque</h1>
    </div>
    <div id="menu" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons"> 
                    <a routerLink="/" class="button is-light"> Home </a> 
                    <a [routerLink]="['/liste']" class="button is-light"> Favoris </a>
                </div>
            </div>
        </div>
    </div>
</nav>