<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <h3 class="title is-3">Recherche de film</h3>
                <form [formGroup]="identForm" (ngSubmit)="film()">
                    <div class="field"> 
                        <label class="label">Filmothèque</label>
                        <div class="control"> 
                            <input class="input is-success" formControlName="film" type="text" placeholder="Entrez un film" value="">
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control"> 
                            <button class="button is-link">Soumettre</button> 
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<ul *ngFor="let leFilm of TabFilm">
    <div>
        <a [routerLink]="['/film/', leFilm.id]">
            <li>
                Titre : {{ leFilm.title }}
                Synopsis : {{ leFilm.overview }}
            </li>
                <li><img src="https://image.tmdb.org/t/p/w500{{leFilm.poster_path}}" width="150"></li>
        </a>
    </div>
</ul>